@font-face {
    font-family: 'abibas-bold';
    src: url('./fonts/adineuePRO-Bold.woff2') format('woff2');
  }

.container {
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 80px;
}

@media (min-width: 960px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 80px;
    }
}

.headingWrapper {
    text-align: center;
    margin-left: 4.166667%;
    width: 91.66667%;
    padding: 0 15px;
    float: left;
}

.heading {
    box-sizing: border-box;
    font-size: 12px;
    font-family: "abibas-bold", Helvetica,Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: normal;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 32px;
}



