.wrapper {
    /* width: 100%; */
    overflow: hidden;
    max-width: 849px;
    /* position: relative; */
}

.prev, .next {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: absolute;
    top: 35%;
    margin-top: -22px;
    text-align: center;
    color: #474848;
    background-color: #f9fafa;
    font-size: 20px;
    user-select: none;
    display: inline-block;
    vertical-align: text-top;
    width: 24px;
    height: 24px;
  }

  .next {
    right: 58px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,1);
    color: white;
  }