.wrapper {
    width: 100%;
    overflow: hidden;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    /* left: 7%; */
    /* width: auto; */
    margin-top: -22px;
    padding: 5px;
    color: #474848;
    background-color: #f9fafa;
    /* font-weight: bold; */
    font-size: 18px;
    user-select: none;
    display: inline-block;
    vertical-align: text-top;
    width: 24px;
    height: 24px;
  }

  .next {
    right: 12px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,1);
    color: white;
  }