.nav {
    display: flex;
    justify-content: center;
    padding: 0 8px;
    list-style: none;
    color: #000;
    pointer-events: auto;
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
    box-sizing:  border-box;
}

.prev, .next {
    height: 24px;
    width: 24px;
    top: 36%;
    margin-top: -12px;
    position: absolute;
    z-index: 25;
    transition: all .2s cubic-bezier(.3,0,.45,1);
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
}

.prev {
    left: 6px;
}

.next {
    right: 6px;
}

.prevText, .nextText {
    display:  inline-block;
    vertical-align: text-top;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 20px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,1);
    color: white;
}
