@font-face {
    font-family: 'abibas-DIN';
    src: url('./fonts/AdihausDIN-Regular.woff2') format('woff2');
}

.wrapper {
    display: flex;
    flex: 1 1 auto;
    /* flex-basis: 80%; */
    margin-right: 2px; 
    
}

.item { 
    box-sizing: border-box;
    margin: 5px;
    font-family: abibas-DIN, Helvetica, Arial, sans-serif;
    overflow: auto;
    width: 200px;
    clear: both;
    border: 1px solid white;
}

.item:hover {
    box-sizing: border-box;
    border: 1px solid black;
}

.picture {
    width: 200px;
    height: 200px;
    z-index: 1;
}

.text {
    display: block;
    padding: 10px 10px 20px;
    box-sizing: border-box;
}

.kind {
    color: #767677;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
    min-height: 17px;
}

.details {
    font-size: 12px;
    line-height: normal;
    height: 60px;

}

.title {
    letter-spacing: .5px;
    margin: 0 0 5px;
    max-height: 30px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.price {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
}

.red {
    color: red;
    margin-right: 5px;
}

.strikethrough {
    text-decoration: line-through;
}

.ratingPad {
	padding-left: 3px;
	font-size: 12px;
	color:  #767677;
}

.heartWrapper {
	position: absolute;
	top: 6%;
	margin-left: 163px;
  	z-index: 2;
  	display: inline-block;
}

.heart {
  	width: 22px;
  	height: auto; 
}

.tag {
	width: 20px;
	height: auto;
	position: absolute;
	top: 4%;
	margin-left: 9px;
	display: inline-block;
}

.starOuter {
	display: inline-block;
	position: relative;	
	color: #767677;
	font-size: 10px;
}

.starInner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #767677;
  font-size: 10px;
}