@font-face {
    font-family: 'abibas-DIN';
    src: url('./fonts/AdihausDIN-Regular.woff2') format('woff2');
}

.wrapper {
    display: flex;
    margin-right: 2px; 
    width: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0;
    margin: 0;   
}

.item { 
    font-family: 'abibas-DIN', Helvetica, Arial, sans-serif;
    padding: 20px 5px; 
}

.product {
    overflow: auto;
    width: 100%;
    clear: both;
    border: 1px solid transparent;
    display: block;
    position: relative;
    box-sizing: border-box;
}

.product:hover {
    box-sizing: border-box;
    border: 1px solid black;
    z-index: 10;
}

.picture {
    width: 100%;
    display: block;
    max-width: 275px;
    max-height: 275px;
    z-index: 1;
}

.heartWrapper {
	position: absolute;
    right: 16px;
    top: 16px;
  	z-index: 2;
  	display: block;
}

.heart {
  	width: 22px;
    height: auto; 
    display: inline-block;
    vertical-align: text-top;
}

.tag {
	width: 20px;
	height: auto;
	position: absolute;
    top: 10px;
    left: 10px;
	display: inline-block;
}

.text {
    display: block;
    padding: 10px 10px 20px;
    box-sizing: border-box;
    overflow: auto;
    min-height: 75px;
}

.kind {
    color: #767677;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
    min-height: 17px;
}

.details {
    font-size: 12px;
    line-height: normal;
    height: 60px;
    display: block;
}

.title {
    letter-spacing: .5px;
    margin: 0 0 5px;
    max-height: 30px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.price {
    display: flex;
    font-size: 12px;
    flex-wrap: wrap;
    font-weight: 400;
}

.red {
    color: red;
    margin-right: 5px;
}

.strikethrough {
    text-decoration: line-through;
    color: #767677;
}

.ratings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #767677;
    font-size:  10px;
}

.ratingPad {
	padding-left: 5px;
    font-size: 12px;
    line-height: 1;
}

.starOuter {
	display: inline-block;
	position: relative;	
}

.starInner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 960px) {
    .wrapper {
        /* width: 44%; */
        flex: 1 0 44%;
        /* flex-basis: 100%; */
        /* margin-right: 20px */
    }

    .product:hover {
        border: 1px solid white;
    }

    .picture {
        max-width: 600px;
        max-height: 600px;
        object-fit: fill;
    }

}