@font-face {
    font-family: 'abibas-bold';
    src: url('./fonts/adineuePRO-Bold.woff2') format('woff2');
  }

.container {
    margin-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 80px;
}

@media (max-width: 960px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
}





